<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        レシピグラマー一覧
      </h1>
    </div>
  </div>
</section>

<% @users.each do |user| %>
<%= attachment_image_tag user, :profile_image, fallback:"no_image.jpg" %>
<%= user.username %>

<% end %>